@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: hsl(0, 0%, 98%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 98%);
  }
}

.dark {
  --background: hsl(235, 21%, 11%);
}

body {
  color: black;
  background: var(--background);
    /* linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}
