.textInput {
@apply w-5/6 me-3 font-normal  text-sm xsm:text-xl text-white-text outline-none caret-blue-splash;
}

.checkbox_container {
@apply basis-[4.5rem] flex justify-center items-center;

}

.checkbox_input {
    appearance: none;
    outline: none;
}

.checkbox_label {
@apply w-6 h-6 rounded-full border-2  
    border-white-border 
    hover:bg-gradient-to-br 
    hover:border-none hover:from-gradient-one 
    hover:to-gradient-two;
    position: relative;
} 	

.checked {
@apply bg-[url:theme("backgroundImage.check"),theme("backgroundImage.gradient-to-br")] bg-no-repeat bg-center;
    cursor:pointer;
}


.checkbox_label:hover:after {
    @apply bg-white;
    cursor: pointer;
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 85%;
    inset: 0;
    margin: auto;
    aspect-ratio: 1;
}

