.textInput {
@apply w-5/6 me-3 font-normal outline-offset-4 caret-blue-splash outline-blue-splash 
    dark:outline-blue-splash xsm:outline-offset-8 text-sm 
    xsm:text-xl dark:bg-dark text-white-text dark:text-dark-text;
}

.checkbox_container {
@apply basis-[4.5rem] flex justify-center items-center;

}

.checkbox_input {
    @apply appearance-none dark:bg-dark;
}

.checkbox_label {
@apply w-6 h-6 rounded-full border-2 dark:border-dark-border 
    border-white-border hover:bg-gradient-to-br 
    hover:border-none hover:from-gradient-one 
    hover:to-gradient-two;
    position: relative;
} 	

.checkbox_label:hover:after {
    @apply dark:bg-dark bg-white;
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 85%;
    inset: 0;
    margin: auto;
    aspect-ratio: 1;
}
