/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/ui/textInput.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.textInput_textInput__4qwMF {
    margin-inline-end: 0.75rem;
    width: 83.333333%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(72 75 106 / var(--tw-text-opacity));
    caret-color: #3a7bfd;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 375px) {

    .textInput_textInput__4qwMF {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

.textInput_checkbox_container__OS9nj {
    display: flex;
    flex-basis: 4.5rem;
    align-items: center;
    justify-content: center;
}

.textInput_checkbox_input__hJywV {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
}

.textInput_checkbox_label__4bUAH {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 9999px;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(228 229 241 / var(--tw-border-opacity));
}

.textInput_checkbox_label__4bUAH:hover {
    border-style: none;
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    --tw-gradient-from: #57ddff var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(87 221 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #c058f3 var(--tw-gradient-to-position);
}

.textInput_checkbox_label__4bUAH {
    position: relative;
} 	

.textInput_checked__0pKZF {
    background-image: url(/images/icon-check.svg),linear-gradient(to bottom right, var(--tw-gradient-stops));
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}


.textInput_checkbox_label__4bUAH:hover:after {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    cursor: pointer;
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 85%;
    inset: 0;
    margin: auto;
    aspect-ratio: 1;
}


